<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Explicitly disable rewriting for front controllers
    RewriteRule ^/calcul/app_dev.php - [L]
    RewriteRule ^/calcul/app.php - [L]

    # Fix the bundles folder
    RewriteRule ^bundles/(.*)$ /calcul/bundles/$1  [QSA,L]

    # Fix the assets folder
    RewriteRule ^assets/(.*)$ /calcul/assets/$1  [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    # Change below before deploying to production
    RewriteRule ^(.*)$ /calcul/app.php [QSA,L]
    #RewriteRule ^(.*)$ /calcul/app_dev.php [QSA,L]
</IfModule>
