parameters:
    database_driver:   pdo_mysql
    database_name:     g6k
    database_user:     g6k
    database_host:     localhost
    database_port:     3306
    database_password: password1

    mailer_transport:  smtp
    mailer_host: smtp.sengrid.net
    mailer_user: apikey
    mailer_password: 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

    locale:            en
    secret:            ChangeThisTokenWithASecretOne

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    g6k_upload_directory: '%kernel.root_dir%/../calcul/uploads'
