parameters:
    database_driver:   pdo_mysql
    database_name:     rtb8vnglx1q4bil5
    database_user:     n5xhkm3ni3zpursn
    database_host:     lt80glfe2gj8p5n2.chr7pe7iynqr.eu-west-1.rds.amazonaws.com
    database_port:     3306
    database_password: rl37icfy9s6ngih3
    database_prefix:   fos

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ChangeThisTokenWithASecretOne

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    g6k_upload_directory: '%kernel.root_dir%/../calcul/uploads'
